{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<ul>
<h1>CUESTIONARIO PARA LA EVALUACIÓN DEL INSTITUTO.</h1>
<form action="{% url 'polls:votar'  questionarie_id %}" method="post">
{% csrf_token %} 
<table style="widtd:100%">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<ul>
<form action="{% url 'polls:votar'  questionarie_id %}" method="post">
{% csrf_token %} 
<table style="widtd:100%" text-align="left">
<tr>
{% for question in question_list %}
 {% if question.question_type == "Label" %}
 <th><h2> {{ question.question_text }}</h2></th>
 <td> &nbsp; 1</td>
 <td> &nbsp; 2</td>
 <td> &nbsp; 3</td>
 <td> &nbsp; 4</td>
    {% endif %}
 {% if question.question_type == "Choice4" %}
 <td>
{{ question.question_text }}
 </td>
      {% for choice in question.choice_set.all %}
        <td>
	{{ choice_selected_list }} <!-- {{ choice.id }}-->
      	<input type="radio" name="{{question.id}}" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}"></label>
	</td>
      {% endfor %}
    {% endif %}
 
</tr>
{% endfor %}
</table>
{% for question in question_list %}
    {% if question.question_type == "Choice" %}
    <br> {{ question.question_text }} <br> 
      {% for choice in question.choice_set.all %}
        <input type="radio" name="{{question.id}}" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
      {% endfor %}
    {% endif %}

    {% if question.question_type == "Text" %}
    <br> {{ question.question_text }} <br> 
    <textarea name="{{question.id}}" id="Text{{ forloop.counter }}" rows="4" cols="100"> </textarea>
    {% endif %}
</tr>
{% endfor %}
<br>
<input type="submit" value="Enviar">
</form>
</ul>
